// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 769px,
  md: 1025px,
  lg: 1441px,
);

// Grid containers
$container-max-widths: (
  md: 1200px,
);

// Grid columns
$grid-columns: 12;
$grid-gutter-width: 2rem;
$grid-row-columns: 6;

// Container padding
$container-padding-x: $grid-gutter-width;
